

.sticky_header{
    width:100%;
    height:80px;
    /* line-height:80px; */
    position:sticky;
    top:0;
    left:0;
    z-index: 9000;
    box-shadow: 3px 3px -3px #ddd;
    background-color: white;
}


@media only screen and (max-width:768px)
{
    .navigation{
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        z-index: 100;
        background-color: #00000084;
        display: none;
    }

    .menu{
        width:15rem;
        height:100%;
        position:absolute;
        top:0;
        right:0;
        background-color: #fff;
        z-index:200;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 30px;
    }

    .show_menu{
            display: block;
    }
}




.contact-us-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-us-form h2 {
    text-align: center;
  }
  
  .contact-us-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-us-form input,
  .contact-us-form textarea,
  .contact-us-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  
  .contact-us-form button:hover {
    background-color: rgb(241, 199, 143);
    color: rgb(251 146 60);
  }
  
  .thank-you-message {
    text-align: center;
  }
  
  .thank-you-message h2 {
    color: #28a745;
  }
  
  